{{#accordion-list showExpandAll=false as | al expandFn |}}
  <div class="over-hr"><span>{{driverOptionsTitle}}</span></div>

  {{#accordion-list-item
    title=(t 'nodeDriver.oci.access.title')
    detail=(t 'nodeDriver.oci.access.detail')
    expandAll=expandAll
    expand=(action expandFn)
    expandOnInit=true
  }}
    <div class="row">
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.region.label'}}</label>
        {{new-select classNames="form-control" content=regionChoices optionLabelPath='name' optionValuePath='value' value=config.region}}
      </div>
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.fingerprint.label'}}</label>
        {{input type="text" value=config.fingerprint classNames="form-control" }}
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.user.label'}}</label>
        {{input type="text" value=config.availabilitySet classNames="form-control" }}
      </div>
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.tenancy.label'}}</label>
        {{input type="text" value=config.resourceGroup classNames="form-control" }}
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.key.label'}}</label>
        {{input type="text" value=config.availabilitySet classNames="form-control" placeholder=(t 'nodeDriver.oci.key.placeholder')}}
      </div>
    </div>

  {{/accordion-list-item}}

  {{#accordion-list-item
    title=(t 'nodeDriver.oci.network.title')
    detail=(t 'nodeDriver.oci.network.detail')
    expandAll=expandAll
    expand=(action expandFn)
    expandOnInit=true
  }}
    <div class="row">
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.subnet.label'}}</label>
        {{input type="text" value=config.subnet classNames="form-control" placeholder=(t 'nodeDriver.oci.subnet.placeholder')}}
      </div>
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.vnet.label'}}</label>
        {{input type="text" value=config.vnet classNames="form-control" placeholder=(t 'nodeDriver.oci.vnet.placeholder')}}
      </div>
    </div>

    <div class="row">

    </div>

  {{/accordion-list-item}}

  {{#accordion-list-item
    title=(t 'nodeDriver.oci.instance.title')
    detail=(t 'nodeDriver.oci.instance.detail')
    expandAll=expandAll
    expand=(action expandFn)
    expandOnInit=true
  }}
    <div class="row">
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.image.label'}}</label>
        {{input type="text" value=config.image classNames="form-control" placeholder=(t 'nodeDriver.oci.image.placeholder')}}
      </div>
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.shape.label'}}</label>
        {{new-select classNames="form-control" content=shapeChoices optionLabelPath='name' optionValuePath='value' value=config.shape}}
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.dockerPort.label'}}</label>
        {{input type="text" value=config.dockerPort classNames="form-control" placeholder=(t 'nodeDriver.oci.dockerPort.placeholder')}}
      </div>
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.openPort.label'}}</label>
        {{input type="text" value=openPorts classNames="form-control" placeholder=(t 'nodeDriver.oci.openPort.placeholder')}}
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <label class="acc-label">{{t 'nodeDriver.oci.sshUser.label'}}</label>
        {{input type="text" value=config.sshUser classNames="form-control" placeholder=(t 'nodeDriver.oci.sshUser.placeholder')}}
      </div>
    </div>
  {{/accordion-list-item}}

  <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

  {{form-name-description
    model=model
    nameRequired=true
  }}

  {{form-user-labels
    initialLabels=labelResource.labels
    setLabels=(action 'setLabels')
    expandAll=expandAll
    expand=(action expandFn)
  }}

  {{form-engine-opts
    machine=model
    showEngineUrl=showEngineUrl
  }}

  {{top-errors errors=errors}}
  {{save-cancel save="save" cancel="cancel" editing=editing}}
{{/accordion-list}}
